<style>


    ol{
      margin-top: 50px
    }
    #contents{
      display:grid; grid-template-columns: 200px 1fr; border-top: solid 5px gray
    }
    a{
      color: hotpink;
      text-decoration: none;

    }
    h4{
      margin-left: 20px
    }
    li{
      font-weight: bold
    }
    .headlines
    {
    border: 100px solid pink; padding: 0px; margin: 0px; text-align:center;
    }

    .toc{
      padding:0px; margin:0px
    }
    .paragraph{
      border-left: solid 5px gray; padding:30px; margin:0px
    }

    @media(max-width:600px){
      #contents {
        display:grid; grid-template-columns: 1fr;
      }
      .paragraph{
        border-left: solid 0px; border-top: solid 5px gray
      }

    }
  </style>
